@import "header.css";

@import "bredcrumb.css";

@import "footer.css";

/* CONTENUTO */

#contenutoPagina h2 {
	color: #C39A59;
	margin: 1em;
}

#contenutoPagina p {
	font-size: 1.2em;
	margin: 1.2em;
}

#Prodotti > li {
	list-style-type: none;
}

#Prodotti > li > p {
	border: 4px solid #0FF;
	border-radius: 8px;
	font-size: 1.2em;
	text-align: left;
	vertical-align: middle;
	padding: 1.2em 0em 0em 1em;
	margin: 1em;
	overflow: hidden;
}

button {
	background-color: #0FF;
	border: 2px solid #FFF;
	border-radius: 8px;
	color: white;
	padding: 1em 1em;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 1em;
	transition-duration: 0.4s;
}

a:hover > button {
	cursor: pointer;
	background-color: #FFF;
	border: 2px solid #0FF;
}

a > button, a:link > button, a:hover > button, a:visited > button {
	color: #000;
}

button.delete {
	background-color: #F00;
	border: 2px solid #FFF;
	border-radius: 8px;
	color: #FFF;
	font-size: 1em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	vertical-align: text-bottom;
	padding: 0.3em;
	margin: -0.2em 0.7em 0.7em 0.7em;
	float: right;
	transition-duration: 0.1s;
}

a > button.delete, a:link > button.delete, a:visited > button.delete {
	color: #FFF;
}

a:hover > button.delete {
	cursor: pointer;
	background-color: #FFF;
	color: #F00;
	border: 2px solid #F00;
}
