/* HEADER */

#menu_1 {
	display: none;
}

#menu_mobile{
	display: block; 
	float: left;
	text-align: left;
	width: 20%;
	z-index: 1;
}

#percorso {
	z-index:-1;
	
}

#menu_mobile ul li img {
	width: 100%;
}

#Links{
	display: none;
	position: absolute;
	background-color: #f3e6d8;
	border: 1.5px solid #331a00;
	min-width: 120px;
	overflow: auto;
}

#header{
	max-height:5em;
}

.menu{
  	margin-top: 0em;
  	font-size: 0.7em;
}

.menu ul li{
  	display: block;
  	padding: 0.5em;
}

.menu ul li a{
  	font-size: 1em;
  	display: block;
}
.menu ul li p{
  	font-size: 1em;
  	display: block;
}

.menu ul li img{
	max-width: 2em;
	max-height: 2em;
}

#titolo{
	display: none;
}

#titolo_mobile{
	display: block;
	width: 50%;
}

#logo_mobile{
  max-height: 2em;
}

#menu_2{
	text-align: right;
	float: right;
	width: 40%;
	padding-right: 0.5em;
}


/* MODAL */

.modal-content {
  	margin: auto;
    	display: block;
    	max-width: 80%;
    	margin-top: 4em;
}

.modal-content img{
	width: 100%;
	
}

