*{
	padding: 0em;
	margin:0em;
}

html{
	background-color: lemonchiffon;
	width: 100%;
	height: 100%;
}

body {
	font-size: 1em;
	max-width: 1280px;
	margin: auto;
	background-color: #FFF;
	font-family: "Times New Roman", cursive, serif;
	letter-spacing: 0.05em;
	word-spacing: 0.1em;
	height: 100%;
}

a:link{
	color: red;
}

a:hover{
	color: orange;
}

a:visited{
	color: brown;
}

/* HEADER */

#header{
	top: 0;
	left: 0;
	right: 0;
	padding:0.5em;
	background-color: AZURE; 
	text-align: center;
	border-bottom: 3px solid CYAN;
}

.menu{
	margin-top: 3em;
	text-align: center;
	width: 33%;
}

#icona_mobile{
	display: none;
}

#menu_mobile{
	display: none;
}

#menu_1 {
	float: left;
}

.menu ul li a:hover{
	background-color: yellow;
}

.menu ul li{
	display: inline;
	padding: 0em ;
}

.menu ul li a{
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;

}

.menu ul li p {
	display: inline;
	color: red;
	font-size: 15px;
	font-weight: bold;
	text-decoration: none;
}

.menu ul li img{
	max-width: 0.7em;
}

#stile{
	width: 5%;
}

#titolo_mobile{
	display: none;
}

#logo{
	width:33%;
	max-width: 15em; 
}

#menu_2{
	float: right;
}

#menu_2 ul li{
	display: inline;
}

#header h1{
	display: none;
}

.aiutiNascosti{
	position: absolute;
	height: 1px;
	width: 1px;
	overflow:hidden;
	clip:rect(1px,1px,1px,1px);
}
