@import "header.css";

@import "bredcrumb.css";

@import "footer.css";

/* CONTENUTO */

.imgHomePage {
	max-height: 100%;
	max-width: 100%;
	height: 100%;
	width: auto;
}

#content {
	text-align: justify;
	text-align-last:center;
	background-color: #FFFEEE;
}

#content h1, #content h2 {
	color: #C39A59;
	margin: 0.5em;
}

#content p {
	margin: 0.5em;
	font-size: 1.2em;
}

.wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
}

.wrapper > * {
	padding: 1em;
	flex: 0 0 95%;
}

.text-container {
	border: 1px solid #0FF;
	border-radius: 8px;
	background-color: #FFF;
	margin: 0.2em 0.2em 0.2em 0.2em;
}

.image-container {
	max-height: 200%;
	max-width: 200%;
	height: 14.5em;
	width: auto;
	margin: auto 0.2em auto 0.2em;
}

#top {
	order: 1;
	margin: 3em auto 3em auto;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: space-around;
}

#top .image-container {
	flex: 0 0 40%;
	order: 1;
}

#top .text-container {
	flex: 0 0 60%;
	order: 2;
}

#mid {
	flex: 0 0 60%;
	order: 2;
	margin: auto;
}

#bottom {
	order: 3;
	margin: 3em auto 3em auto;

	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-content: space-around;
}

#bottom .image-container {
	flex: 0 0 40%;
	order: 2;
}

#bottom .text-container {
	flex: 0 0 60%;
	order: 1;
}

button {
	background-color: #0FF;
	border: 2px solid #FFF;
	border-radius: 8px;
	color: white;
	padding: 1em 1em;
	font-size: 1.2em;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin: 1em;
	transition-duration: 0.4s;
}

a:hover > button {
	cursor: pointer;
	background-color: #FFF;
	color: #000;
	border: 2px solid #0FF;
}

a > button, a:link > button, a:hover > button, a:visited > button {
	color: #000;
}

@media (max-width: 600px) {
	#top {
		flex-flow: row wrap;
	}
	#bottom {
		flex-flow: row wrap;
	}
}
