@import "header.css";

@import "bredcrumb.css";

@import "footer.css";

/* CONTENUTO */

h1 {
	margin: 0.5em 0.5em 0.5em 1em;
	color: #C39A59;
}

.form-group {
	margin: 0.5em 0.5em 0.5em 2em;
}

#signup-link {
	margin: 2em 1em 1em 2em;
}

input[type=submit] {
	margin: 1em auto auto auto;
}

input[type=reset] {
	margin: 1em auto auto auto;
}

p.errors {
	color: red;
	margin: 1em 0.5em 1.5em auto;
}
