
/*************HEADER******************************/

#menu_1 {
	display: none;
}

#icona_mobile{
	display:block; 
	float: left;
	width: 10%;
}

#icona_mobile img {
	width: 100%;
}

#menu_mobile{
	display: block;
	width: 100%;
	font-size: 1.4em;
	text-align: center;
	background-color: azure;
	border-top: 2px solid CYAN; 
}
#menu_mobile ul li{
	padding: 0.2em;
	border-bottom: 1px solid CYAN;
}

#menu_mobile ul li img {
	max-width: 1em;
}

#Links{
	display: none;
	background-color: AZURE;
	border: 2px solid CYAN;
}

#header{
	max-height:5em;
}

.menu{
  margin-top: 0em;
}


#titolo{
	display: none;
}

#titolo_mobile{
	display: block;
	width: 50%;
}

#logo_mobile{
  max-height: 1.5em;
}

#menu_2{
	float: right;
	width: 40%;
}

.menu ul li a{
  font-size: 0.5em;
}


/************CONTENUTO PAGINA**********************/

.contenutogenerale{
  padding: 1em 1em 1em 1em;
}

#contenutoPagina{
  flex-direction: column;
}

#box{
  order: 2;
  margin-right: 2em;
}

#contatti{
  order: 1;
}

